<footer class="page-footer blue lighten-3">
  <div class="container">
    <ul>
      <li><a class="grey-text text-lighten-4" href="http://tshimada291.sakura.ne.jp/transport/gtfs-list.html" target="_blank">公開データ一覧</a></li>
      <li><a class="grey-text text-lighten-4" href="https://gtfs.jp/blog/" target="_blank">ブログ</a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Copyright © 2019 Soma Kumano
    </div>
  </div>
</footer>
