<header class="">
  <nav>
    <div class="nav-wrapper blue lighten-3">
      <% if current_path.include?("index.html")%>
        <a href="/" class="brand-logo">GTFS-JP</a>
      <% else %>
        <a href="/" class="brand-logo">
          <%= image_tag('images/gtfs-jp_logo.png') %>
        </a>
      <% end %>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://tshimada291.sakura.ne.jp/transport/gtfs-list.html" target="_blank">公開データ一覧</a></li>
        <li><a href="https://gtfs.jp/blog/" target="_blank">ブログ</a></li>
      </ul>
    </div>
  </nav>
</header>
<ul id="nav-mobile" class="sidenav">
  <li><a href="http://tshimada291.sakura.ne.jp/transport/gtfs-list.html" target="_blank">公開データ一覧</a></li>
  <li><a href="https://gtfs.jp/blog/" target="_blank">ブログ</a></li>
</ul>
