<div class="page-info">
  <p>このページは国土交通省が策定した「標準的なバス情報フォーマット」とそれに関連する文書を元に、<a href="https://github.com/gtfs-jp/GTFS-JP-web">GTFS-JP-devリポジトリ</a>などで議論された結果を反映させたものです。原本は <a href="http://www.mlit.go.jp/sogoseisaku/transport/sosei_transport_tk_000067.html">こちら</a>で確認できます。</p>
  <p>出典：「経路検索の充実とバスロケデータの利活用　～標準的なバス情報フォーマットの拡充～」（国土交通省）（<a href="http://www.mlit.go.jp/sogoseisaku/transport/sosei_transport_tk_000067.html">http://www.mlit.go.jp/sogoseisaku/transport/sosei_transport_tk_000067.html</a>）</p>
</div>
