<main>
  <div class="container container-include-sidemenu">
    <div class="row">
      <div class="col hide-on-med-and-down l2 sidemenu">
        <%= partial "partials/sidemenu"%>
      </div>
      <div class="col s12 main-content-with-sidemenu content-wrapper scrollspy" id="distribution_guidelines">
        <%= partial "partials/developpers-guide/distribution_guidelines.md"%>
      </div>
    </div>
  </div>
</main>
