<main>
  <div class="container container-include-sidemenu">
    <div class="row">
      <div class="col hide-on-med-and-down l2 sidemenu">
        <%= partial "partials/sidemenu"%>
      </div>
      <div class="col s12 main-content-with-sidemenu">
        <h1>コミュニティ</h1>
        <% data.community.each do |group|%>
          <h2><%= group.group_name %></h2>
          <p><%= group.description %></p>
          <% group.members.each do |member| %>
            <div class="col s6">
              <div class="card horizontal">
                <div class="card-image">
                  <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <span class="card-title activator grey-text text-darken-4"><%= member.name %></span>
                <div class="card-stacked">
                  <div class="card-content">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
