<main>
  <div class="container container-include-sidemenu">
    <div class="row">
      <div class="col hide-on-med-and-down l2 sidemenu">
        <%= partial "partials/sidemenu"%>
      </div>
      <div class="col s12 main-content-with-sidemenu content-wrapper">
        <div class="row">
          <div class="col s6">
            <div class="card">
              <div class="card-panel">
                <span class="card-title blue-text text-lighten-1">配信方法ガイドライン</span>
                <p>「標準的なバス情報フォーマット」に基づくデータを配信する際のガイドラインです。データを利用する開発者への情報提供や配信方法について解説しています。</p>
                <a href="developpers-guide/distribution_guidelines.html" class="waves-effect waves-light btn blue lighten-2">get started</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card">
              <div class="card-panel">
                <span class="card-title blue-text text-lighten-1">動的データガイドライン</span>
                <p>動的データのフォーマットである「GTFS-Realtime」のガイドラインです。その仕様やデータを作成のするための注意点、配信方法について解説しています。</p>
                <a href="developpers-guide/gtfs-realtime_guidelines.html" class="waves-effect waves-light btn blue lighten-2">data making</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card">
              <div class="card-panel">
                <span class="card-title blue-text text-lighten-1">GTFS-JP 概要</span>
                <p>静的データであるGTFS-JPの概要です。日本向けの拡張についても解説します。</p>
                <a href="developpers-guide/overview-gtfs-jp.html" class="waves-effect waves-light btn blue lighten-2">overview of GTFS-JP</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card">
              <div class="card-panel">
                <span class="card-title blue-text text-lighten-1">GTFS-JP 各項目の設定</span>
                <p>GTFS-JPの各項目に設定する内容について解説しています。</p>
                <a href="developpers-guide/format-reference.html" class="waves-effect waves-light btn blue lighten-2">GTFS-JP specs</a>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card">
              <div class="card-panel">
                <span class="card-title blue-text text-lighten-1">GTFS-JP 更新履歴</span>
                <p>GTFS-JPの更新履歴です。国交省が公表したGTFS-JP仕様書の更新履歴です。</p>
                <a href="developpers-guide/change_log.html" class="waves-effect waves-light btn blue lighten-2">GTFS-JP changelog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
