<main>
  <div class="container container-include-sidemenu">
    <div class="row">
      <div class="col hide-on-med-and-down l2 sidemenu">
        <%= partial "partials/sidemenu"%>
      </div>
      <div class="col s12 main-content-with-sidemenu content-wrapper">
        <div class="section scrollspy" id="introduction">
          <%= partial "partials/get-started/introduction.md"%>
        </div>
        <div class="section scrollspy" id="examples">
          <%= partial "partials/get-started/examples.md"%>
        </div>
      </div>
    </div>
  </div>
</main>
