<div class="main-content-with-sidemenu content-wrapper">
  <div class="section scrollspy" id="introduction">
    <%= partial "partials/get-started/introduction.md"%>
  </div>
  <div class="section scrollspy" id="examples">
    <%= partial "partials/get-started/examples.md"%>
  </div>
</div>
