<main class="container">
  <div class="eye-catch">
    <div class="row">
      <div class="col s12">
        <h1>標準的なバス情報フォーマット</h1>
      </div>
      <div class="col s5">
        <%= image_tag('images/gtfs-jp_logo.png', :width => '90%') %>
      </div>
      <div class="col s7">
        <p>「標準的なバス情報フォーマット」は、バス事業者と経路検索等の情報利用者との情報の受渡しのための共通フォーマットです。国土交通省により2016年から標準化が進められています。公共交通データのデファクトスタンダートであるGTFSを元に作られた、交通事業者と開発者の双方に優しいフォーマットです。</p>
      </div>
    </div>
  </div>

  <div class="page-info">
    <p>最新の「標準的なバス情報フォーマット」の仕様書とガイドラインは<a href="https://www.mlit.go.jp/sogoseisaku/transport/sosei_transport_tk_000112.html">国土交通省の公開ページ</a>で確認できます。</p>
  </div>
  <div class="center-align toppage-discriptions">
    <h2>GTFS-JPに基づいたオープンデータ</h2>
    <p>GTFS-JPにしたがって作られたオープンデータが日本全国で公開され始めています。同じ形式のデータであるため、GTFS-JPに対応したアプリケーションであればどのデータでも容易に取り込むことができます。</p>
    <a href="http://tshimada291.sakura.ne.jp/transport/gtfs-list.html" class="waves-effect waves-light btn-large blue accent-1" target="_blank" target="_blank">公開データ一覧</a>
    <div class="row">
      <%= image_tag('https://home.csis.u-tokyo.ac.jp/~nishizawa/gtfs/gtfs-jp-map.png',:class => 'responsive-img japan-map') %>
    </div>
  </div>
</main>
