<main>
  <div class="main-content-with-sidemenu content-wrapper">
    <div class="section scrollspy" id="how_to_start">
      <%= partial "partials/making-data/how_to_start.md"%>
    </div>
    <div class="section scrollspy" id="service_providers">
      <%= partial "partials/making-data/service_providers.md"%>
    </div>
  </div>
</main>
