<main>
  <div class="container container-include-sidemenu">
    <div class="row">
      <div class="col hide-on-med-and-down l2 sidemenu">
        <%= partial "partials/sidemenu"%>
      </div>
      <div class="col s12 main-content-with-sidemenu">
        <div class="section scrollspy" id="how_to_start">
          <%= partial "partials/making-data/how_to_start.md"%>
        </div>
        <div class="section scrollspy" id="service_providers">
          <%= partial "partials/making-data/service_providers.md"%>
        </div>
      </div>
    </div>
  </div>
</main>
